﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="761" MadCap:lastWidth="650">
    <head><title>Optional Configuration</title>
    </head>
    <body>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Configur"></a>Configuring S3 Vault HTTPS Certificates</h2>
        <p style="text-align: left;">HTTPS can be optionally configured for both service and backend interfaces at S3 Vault and S3 Metadata.</p>
        <p style="text-align: left;">A correct HTTPS&#160;configuration must  include at least a certificate and a private key file for every server (Take care to ensure that different sets of HTTPS files are not used for different target servers.) It is highly recommended that the certificates be signed by a well known certification authority (CA), in which case the CA’s certificate file can also be provided.</p>
        <p style="text-align: left;">When using the HTTPS certification to deploy Vault with SAML, add <span class="ProprietaryFileName">certificate_file</span> and <span class="ProprietaryFileName">private_key_file</span> from a trusted CA. This is not required if the default configuration is used for making HTTP connections to the Vault.</p>
        <div style="page-break-after: avoid;">
            <p style="page-break-after: avoid;column-break-after: avoid;frame-break-after: avoid;text-align: left;">The path to the certificates is defined in <span class="ProprietaryFileName">env/server-pool-1/group_vars/all</span> as:</p><pre xml:space="preserve">cert_filepaths:<br></br>  key: {{path to private_key_file}}<br></br>  cert: {{path to certificate_file}}</pre>
        </div>
        <div style="page-break-inside: avoid;">
            <h3 MadCap:autonum="1.1.1 &#160;">Example: HTTPS Configuration Section</h3><pre xml:space="preserve">cert_filepaths:
  ca: {{CA's certificate filepath in target server, OPTIONAL}}
  cert: {{certificate filepath in target server}}
  key: {{private key filepath in target server}}</pre>
            <p class="BoxNote">Filepath refers to the location of files in the target server, so files must be installed in the same path in all servers beforehand.</p>
        </div>
        <div style="page-break-inside: avoid;">
            <h3 MadCap:autonum="1.1.2 &#160;">Example: Command Chain for Obtaining a Self-Signed Certificate</h3><pre xml:space="preserve">$ openssl genrsa -out ca.key 2048

$ openssl req -new -x509 -extensions v3_ca -key ca.key -out ca.crt -days 99999 -subj "/C=US/ST=Country/L=City/O=Organization/CN={{TEST_HOSTNAME}}"

$ openssl genrsa -out test.key 2048

$ openssl req -new -key test.key -out test.csr -subj "/C=US/ST=Country/L=City/O=Organization/CN=*.{{TEST_HOSTNAME}}"

$ openssl x509 -req -in test.csr -CA ca.crt -CAkey ca.key -CAcreateserial -out test.crt -days 99999 -sha256</pre>
        </div>
        <div>
            <h2 MadCap:autonum="1.2. &#160;"><a name="Setting"></a>Setting the Leader Site for a Stretched Two-Site RING</h2>
            <p style="page-break-after: avoid;text-align: left;">If the minority of the Metadata servers is listed in the inventory file as being on site_a, uncomment the following line in the<span class="ProprietaryFileName"> /group_vars/all</span> template.</p><pre xml:space="preserve"># env_metadata_force_leader_on_site: site_a</pre>
            <p>If the minority is on site_b, uncomment this line and change it to site_b.</p>
            <h2 MadCap:autonum="1.3. &#160;"><a name="Using"></a>Using Encryption</h2>
            <p>To use bucket and object encryption, uncomment the lines for the Key Management Service (kms) username and password in the <span class="ProprietaryFileName">/group_vars/all</span> template and set them appropriately.</p><pre xml:space="preserve">env_s3
  rest_endpoints:
    - s3.example.com
  # kms:
    # username:
    # password:</pre>
            <p style="text-align: left;">If no location constraint is set, location constraint defaults to REST endpoint configuration.</p>
            <p style="text-align: left;">The kms properties file (<cite>/{{targetEnvironmentName}}/kms/ProtectAppICAPI.properties</cite>) contains parameters specific to each customer install. <MadCap:variable name="General.ProductName"></MadCap:variable> currently supports cryptographic key management with Gemalto SafeNet.  Check <span class="ProperNameBold">Allow Key and Policy Configuration Operations</span> on the the SafeNet KeySecure Management Console to enable key encryption for <MadCap:variable name="General.ProductName"></MadCap:variable> buckets and objects.</p>
            <p style="text-align: center;">
                <!-- <img src="../../../7400_INST_S3/Content/Resources/Images/Install_Guide_Images/gemalto_safenet_kms.png" style="width: 429px;height: 420px;">
                </img>-->
            </p>
            <h2 MadCap:autonum="1.4. &#160;"><a name="Enabling"></a>Enabling the Service Utilization API</h2>
            <p style="text-align: left;">Scality Zenko Enterprise provides a Service Utilization API (UTAPI) for resource utilization tracking and metrics reporting. This feature is currently included for testing purposes only and is disabled by default. To enable UTAPI functionality, uncomment the <code>enable_utilization_api</code> line in the <cite>env/{{targetEnvironmentName}}/group_vars/all</cite> file and set it to <b>true</b>.</p>
            <h2 MadCap:autonum="1.5. &#160;"><a name="Frontend"></a>Frontend Settings</h2>
            <p style="text-align: left;">Either software load balancers (Nginx containers, for example) or hardware load balancers can be set as SSL termination points for end-user applications. They can also be used to check the health of the installed <MadCap:variable name="General.ProductName"></MadCap:variable> instances and to blacklist any connectors that are not responding properly to the health check.</p>
            <p class="BoxNote" style="text-align: left;">Frontend SSL termination is incompatible with encryption on internal communication between components (end-to-end encryption). </p>
            <p style="text-align: left;page-break-after: avoid;">The following commented text in the group variables template describes the features that can be enabled on frontend load balancers:</p><pre xml:space="preserve" style="page-break-inside: avoid;">## Frontend settings. The frontend container:
## - optionally terminates ssl
## - checks its local s3 connector health
## - directs requests to its local s3 connector if healthy
## - directs requests to other s3 connectors if the local one is unhealthy</pre>
            <p style="text-align: left;page-break-after: avoid;">Uncomment the following code in the group variables template and assign values appropriate for the environment:</p><pre xml:space="preserve" style="page-break-inside: avoid;"># env_s3_frontend_port: 80         # change for a non-standard port
# env_s3_frontend_server_name: s3.example.com # must match SSL cert CN
# env_s3_frontend_ssl_only: false  # set to true en enforce ssl
# env_s3_frontend_ssl_port: 443    # change for a non-standard port
# env_s3_frontend_ssl_cert: s3.crt # if ssl is used, file must be in &lt;env&gt;/ssl
# env_s3_frontend_ssl_key: s3.key  # if ssl is used, file must be in &lt;env&gt;/ssl
# env_s3_frontend_ssl_ca_bundle: ca-bundle.crt # optional, must be in &lt;env&gt;/ssl</pre>
            <h2 MadCap:autonum="1.6. &#160;"><a name="Integrat"></a>Integrating with Single Sign-On (SSO) Services Using SAML</h2>
            <p style="text-align: left;">See  to learn how to integrate SSO services (such as Microsoft ADFS) using the SAML 2.0 protocol.</p>
        </div>
    </body>
</html>