/*<meta />*/

body
{
	font-family: 'Roboto';
	font-size: 10pt;
}

/*.pgBreakKeepNext
{
	margin-top: 0pt;
	font-weight: 100;
	margin-bottom: 8pt;
	text-align: justify;
	page-break-after: avoid;
}
*/

p
{
	margin-top: 0pt;
	margin-bottom: 8pt;
	orphans: 2;
	widows: 2;
	text-align: left;
}

ol
{
	margin-bottom: 8pt;
	/*	font-family: 'Proxima Nova Rg';*/
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	/*	font-family: 'Proxima Nova Rg';*/
	font-size: 11pt;
}

li
{
	margin-bottom: 5pt;
	margin-top: 5pt;
	margin-right: 12pt;
}

td
{
	vertical-align: top;
	font-family: Calibri;
	font-size: 9pt;
	mc-dita-type: td;
}

p.Header
{
	font-size: 11pt;
	margin-bottom: 0pt;
}

p.Footer
{
	font-size: 11pt;
	margin-bottom: 0pt;
}

p.TOC1
{
	margin-bottom: 5pt;
}

p.TOC2
{
	margin-bottom: 5pt;
	margin-left: 11pt;
}

p.TOC3
{
	margin-bottom: 5pt;
	margin-left: 22pt;
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
	mc-disabled: false;
}

span.Hyperlink
{
	text-decoration: underline;
	color: #0000ff;
}

span.Strong
{
	font-weight: bold;
}

h1
{
	text-align: right;
	border-bottom: solid 1px;
	font-size: 20pt;
	font-weight: 100;
	page-break-before: avoid;
	mc-auto-number-format: '{chapnum}.  ';
	font-family: 'Oswald SemiBold';
}

h2
{
	font-size: 16pt;
	page-break-before: auto;
	margin-bottom: 0.5em;
	font-family: 'Oswald SemiBold';
	mc-auto-number-format: '{ }';
}

img
{
	text-align: center;
}

img.FiftyPercent
{
	max-width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	page-break-before: avoid;
	padding-top: 5px;
	padding-bottom: 5px;
}

img.OneHundredPercent
{
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	page-break-before: avoid;
	padding-top: 5px;
	padding-bottom: 5px;
}

img.ReduceButtonSize
{
	max-height: 18px;
}

img.SeventyFivePercent
{
	max-width: 75%;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	page-break-before: avoid;
	padding-top: 5px;
	padding-bottom: 5px;
}

frame
{
	mc-disabled: true;
}

MadCap|annotation
{
	mc-disabled: true;
}

MadCap|bodyProxy
{
	mc-disabled: true;
}

MadCap|breadcrumbsProxy
{
	mc-disabled: true;
}

MadCap|concept
{
	mc-disabled: true;
}

MadCap|conceptLink
{
	mc-disabled: true;
}

MadCap|conceptLinkControlList
{
	mc-disabled: true;
}

MadCap|conceptLinkControlListItem
{
	mc-disabled: true;
}

MadCap|conceptLinkControlListItemLink
{
	mc-disabled: true;
}

MadCap|conceptsProxy
{
	mc-disabled: true;
}

MadCap|conditionalText
{
	mc-disabled: false;
}

MadCap|dropDown
{
	mc-disabled: false;
}

MadCap|dropDownBody
{
	mc-disabled: false;
}

MadCap|dropDownHead
{
	mc-disabled: false;
}

MadCap|dropDownHotspot
{
	mc-disabled: false;
}

MadCap|endnoteBlock
{
	mc-disabled: false;
}

MadCap|endnotesBlock
{
	mc-disabled: false;
}

MadCap|endnotesProxy
{
	mc-disabled: false;
}

MadCap|equation
{
	mc-disabled: false;
}

MadCap|expanding
{
	mc-disabled: false;
}

MadCap|expandingBody
{
	mc-disabled: false;
}

MadCap|expandingHead
{
	mc-disabled: false;
}

MadCap|footnote
{
	mc-disabled: false;
}

MadCap|footnoteBlock
{
	mc-disabled: false;
}

MadCap|footnotesBlock
{
	mc-disabled: true;
}

MadCap|glossaryProxy
{
	mc-disabled: false;
}

MadCap|glossaryTerm
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Expanding
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Hyperlink
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Popup
{
	mc-disabled: false;
}

MadCap|helpControlList
{
	mc-disabled: false;
}

MadCap|helpControlListItem
{
	mc-disabled: false;
}

MadCap|helpControlListItemLink
{
	mc-disabled: false;
}

MadCap|helpControlMenu
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem.Highlighted
{
	mc-disabled: false;
}

MadCap|indexProxy
{
	mc-disabled: false;
}

MadCap|keyword
{
	mc-disabled: true;
}

MadCap|keywordLink
{
	mc-disabled: true;
}

MadCap|keywordLinkControlList
{
	mc-disabled: true;
}

MadCap|keywordLinkControlListItem
{
	mc-disabled: true;
}

MadCap|keywordLinkControlListItemLink
{
	mc-disabled: true;
}

MadCap|listOfProxy
{
	mc-disabled: false;
}

MadCap|menuProxy
{
	mc-disabled: false;
}

MadCap|miniTocProxy
{
	mc-disabled: false;
	border: solid 3px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-left: 48pt;
	margin-right: 48pt;
	padding-bottom: 10px;
	padding-right: 20px;
	left: 135px;
	border-bottom-color: #960e76;
	border-color: #960e76;
	margin-bottom: 12pt;
	margin-top: 12pt;
}

MadCap|model3D
{
	mc-disabled: true;
}

MadCap|namedDestination
{
	mc-disabled: false;
}

MadCap|pageFooter
{
	mc-disabled: false;
}

MadCap|pageFooter.EvenPage
{
	mc-disabled: false;
}

MadCap|pageFooter.FirstPage
{
	mc-disabled: false;
}

MadCap|pageFooter.OddPage
{
	mc-disabled: false;
}

MadCap|pageHeader
{
	mc-disabled: false;
}

MadCap|pageHeader.EvenPage
{
	mc-disabled: false;
}

MadCap|pageHeader.FirstPage
{
	mc-disabled: false;
}

MadCap|pageHeader.OddPage
{
	mc-disabled: false;
}

MadCap|popup
{
	mc-disabled: false;
}

MadCap|popupBody
{
	mc-disabled: false;
}

MadCap|popupHead
{
	mc-disabled: false;
}

MadCap|qrCode
{
	mc-disabled: true;
}

MadCap|relatedTopics
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlList
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlListItem
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlListItemLink
{
	mc-disabled: false;
}

MadCap|relationshipsHeading
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.concept
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.reference
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.task
{
	mc-disabled: false;
}

MadCap|relationshipsItem
{
	mc-disabled: false;
}

MadCap|relationshipsProxy
{
	mc-disabled: false;
}

MadCap|searchBarProxy
{
	mc-disabled: false;
}

MadCap|searchResultsProxy
{
	mc-disabled: false;
}

MadCap|section
{
	mc-disabled: false;
}

MadCap|shortcut
{
	mc-disabled: false;
}

MadCap|slide
{
	mc-disabled: false;
}

MadCap|slideshow
{
	mc-disabled: true;
}

MadCap|slideshowAutoControls
{
	mc-disabled: true;
}

MadCap|slideshowAutoControls.active
{
	mc-disabled: true;
}

MadCap|slideshowAutoControls.Start
{
	mc-disabled: true;
}

MadCap|slideshowAutoControls.Stop
{
	mc-disabled: true;
}

MadCap|slideshowBullet
{
	mc-disabled: true;
}

MadCap|slideshowBullet.active
{
	mc-disabled: true;
}

MadCap|slideshowCaption
{
	mc-disabled: true;
}

MadCap|slideshowNavigationControls
{
	mc-disabled: true;
}

MadCap|slideshowNavigationControls.Next
{
	mc-disabled: true;
}

MadCap|slideshowNavigationControls.Previous
{
	mc-disabled: true;
}

MadCap|slideThumbnail
{
	mc-disabled: false;
}

MadCap|slideThumbnail.active
{
	mc-disabled: false;
}

MadCap|snippetBlock
{
	mc-disabled: false;
}

MadCap|snippetText
{
	mc-disabled: false;
}

MadCap|tocProxy
{
	mc-disabled: false;
	font-family: 'Proxima Nova Rg';
	width: 100%;
	border-top-style: none;
	page-break-after: always;
	mc-auto-number-format: '{chapnum}.{Cn}.{n+}  ';
}

MadCap|toggler
{
	mc-disabled: false;
}

MadCap|topicToolbarProxy
{
	mc-disabled: false;
}

MadCap|variable
{
	mc-disabled: false;
}

MadCap|xref
{
	mc-disabled: false;
	mc-format: '“{paratext},” {pageref}';
}

madcapEditorBehavior
{
	mc-disabled: false;
}

h3
{
	mc-heading-level: 3;
	margin-top: 1.50em;
	mc-auto-number-format: '{chapnum}.{Cn}.{ =0}{n+1}  ';
	font-family: 'Oswald SemiBold';
}

h4
{
	font-size: 1em;
	mc-heading-level: 0;
	margin-top: 1em;
	margin-bottom: 0em;
	font-family: 'Oswald SemiBold';
}

h5
{
	mc-heading-level: 0;
	font-style: italic;
	margin-bottom: 1em;
	font-family: 'Oswald SemiBold';
}

div
{
	margin-bottom: 6pt;
}

span.SDLDocTitle1st
{
	color: #ffffff;
	font-size: 36pt;
	font-family: Oswald;
}

span.SDLDocTitle2nd	/*Title Page subheading*/
{
	font-size: 24pt;
	color: #ffffff;
	font-family: Oswald;
}

h1.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
}

h2.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
}

MadCap|tocProxy.TOC1
{
	
}

table
{
	padding: 0pt;
}

span.PublicationName
{
	font-style: italic;
}

tr
{
	page-break-inside: avoid;
}

p:before
{
	
}

fieldset
{
	mc-disabled: true;
}

h6
{
	font-variant: small-caps;
	mc-heading-level: 0;
	margin-bottom: 0.5em;
	margin-top: 1.25em;
	font-family: 'Oswald SemiBold';
}

p.caption_figure
{
	margin-top: 0pt;
	margin-bottom: 8pt;
	orphans: 2;
	widows: 2;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 10pt;
	page-break-before: avoid;
}

MadCap|miniTocProxy.inSection
{
	border-bottom-color: #960e76;
	border: solid 2px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 2px;
	border-color: #3b9cd7;
}

/*p.InTableNote
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding: 2px;
	background-color: #dcdcdc;
	margin-left: 0em;
	margin-right: 0em;
	font-weight: bold;
	font-family: 'Proxima Nova Rg';
	font-size: 9pt;
}
*/

h3.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
	page-break-before: auto;
}

pre
{
	font-size: 8pt;
	margin-left: 18pt;
	mc-hyphenate: never;
}

/*p.footnote_asterisk:before
{
	margin-left: 18pt;
}
*/

p.MiniTOC1
{
	font-size: 10pt;
	margin-bottom: 3pt;
}

p.MiniTOC2
{
	font-size: 10pt;
	margin-bottom: 3pt;
}

p.MiniTOC3
{
	font-size: 10pt;
	margin-bottom: 3pt;
}

p.MiniTOC4
{
	font-size: 10pt;
}

p.MiniTOC5
{
	font-size: 10pt;
}

p.MiniTOC6
{
	font-size: 10pt;
}

p.MiniTOC7
{
	font-size: 10pt;
}

p.MiniTOC8
{
	font-size: 10pt;
}

p.MiniTOC9
{
	font-size: 10pt;
}

figcaption
{
	text-align: center;
	page-break-before: avoid;
	font-size: 10pt;
	font-style: italic;
	font-weight: bold;
}

code
{
	mc-hyphenate: never;
}

td ul
{
	font-family: Calibri;
	font-size: 9pt;
	margin-left: 12pt;
	padding: 0pt;
}

td ol
{
	margin-left: 12pt;
	padding: 0pt;
}

td li
{
	margin-top: 1pt;
	margin-bottom: 1pt;
}

li pre
{
	margin-left: 0pt;
}

ol
{
	list-style-type: decimal;
}

ol ol
{
	list-style-type: lower-alpha;
}

ol ol ol
{
	list-style-type: lower-roman;
}

ul
{
	list-style-type: disc;
}

ul ul
{
	list-style-type: circle;
}

ul ul ul
{
	list-style-type: square;
}

td p
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

span.DRAFT
{
	font-family: 'Arial Black';
	font-size: 14pt;
	font-weight: bold;
	color: #ff0000;
	mc-conditions: 'PrintGuides.DRAFT';
}

span.inline-comment
{
	color: #ff0000;
	mc-conditions: 'PrintGuides.Not_Ready_Yet';
}

b
{
	font-weight: bold;
}

ul
{
	font-family: 'Proxima Nova Rg';
}

ol
{
	font-family: 'Proxima Nova Rg';
}

td
{
	font-family: 'Calibri';
	line-height: 9pt;
	margin: 3px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

/* li.codeparatext_li
{
	margin-left: 45pt;
}
*/

p.Tip
{
	mc-image-position: left;
	mc-image: none;
	vertical-align: middle;
	page-break-inside: avoid;
	padding-right: 40pt;
	margin-left: 10%;
	margin-right: 10%;
	background-position: 2% 50%;
	font-weight: 100;
	border-bottom-width: 2pt;
	border: ridge 0pt;
	padding-left: 50pt;
	font-style: normal;
	background-image: url('../Images/tipsbulblight.png');
	background-repeat: no-repeat;
	padding-bottom: 10pt;
	padding-top: 10pt;
	color: #000000;
	background-color: #f0fff0;
	border-radius: 15pt;
}

p.Note
{
	mc-image-position: left;
	mc-image: none;
	vertical-align: middle;
	page-break-inside: avoid;
	padding-right: 40pt;
	margin-left: 10%;
	margin-right: 10%;
	background-position: 2% 50%;
	font-weight: 100;
	border-bottom-width: 2pt;
	padding-left: 50pt;
	font-style: normal;
	background-repeat: no-repeat;
	border-bottom-style: double;
	border-color: #0099c1;
	background-image: url('../Images/summary-png-icon-6105.png');
	color: #000000;
	border: none 2pt;
	padding-bottom: 10pt;
	padding-top: 10pt;
	border-bottom-color: #0099c1;
	background-color: #f0f8ff;
	border-radius: 15pt;
}

p.Warning
{
	mc-image-position: left;
	mc-image: none;
	background-repeat: no-repeat;
	vertical-align: middle;
	page-break-inside: avoid;
	padding-right: 40pt;
	margin-left: 10%;
	margin-right: 10%;
	background-position: 2% 50%;
	padding-left: 50pt;
	border-bottom-width: 2pt;
	border-right-style: none;
	border-left-style: none;
	padding-bottom: 10px;
	padding-top: 10px;
	font-style: normal;
	font-size: 10pt;
	font-weight: bold;
	border: none 3pt;
	border-radius: 15pt;
	color: #ffffff;
	background-color: #000000;
	background-image: url('../Images/hand-o-stop.png');
}

pre
{
	border: solid 2pt;
	border-color: #dcdcdc;
	border-radius: 5pt;
	padding: 5pt;
}

p.Important
{
	mc-image-position: left;
	mc-image: none;
	background-repeat: no-repeat;
	vertical-align: middle;
	page-break-inside: avoid;
	color: #000000;
	padding-right: 40pt;
	margin-left: 10%;
	margin-right: 10%;
	background-position: 2% 50%;
	padding-left: 50pt;
	font-weight: 100;
	border-bottom-width: 2pt;
	font-style: normal;
	border-right-style: none;
	border-left-style: none;
	border: none 3pt;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #ffffe0;
	border-radius: 15pt;
	background-image: url('../Images/scalityalert.png');
}

/*	p.EmphasisCRITICAL
	{
		color: #ffffff;
		font-family: 'Proxima Nova Rg';
		font-size: 11pt;
		font-weight: bolder;
		background-color: #000000;
		word-spacing: 2px;
		padding: 2px;
	}


	pre.subNoBreak
	{
		border: none 0pt;
		margin-left: 0pt;
		padding: 0pt;
		padding-top: 8pt;
		page-break-inside: avoid;
	}
*/

h3
{
	mc-auto-number-format: '{ }';
}

MadCap|miniTocProxy.inSection
{
	border-bottom-color: #00b2a9;
	border-color: #00b2a9;
}

p.caption_figure
{
	text-align: center;
}

td li
{
	font-size: 9pt;
}

td ul
{
	
}

li
{
	widows: 2;
}

h1
{
	mc-auto-number-format: '{ }';
}

li pre
{
	margin-bottom: 6pt;
}

img.SeventyFivePercent
{
	
}

p pre
{
	padding: 2pt;
	margin-left: 2pt;
	padding-left: 4pt;
	padding-right: 4pt;
}

/* td.li
{
	display: list-item;
	mc-dita-type: li;
	text-indent: -5em;
	text-align: left;
	margin-left: -32 px;
}

	MadCap|xref.section_number
	{
		mc-format: 'section {paranumonly}';
	}

*/

td pre
{
	border: none;
	display: inline-block;
}

li p.Warning
{
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 6pt;
}

li p.Note
{
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 6pt;
}

li p.Tip
{
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 6pt;
}

li p.Important
{
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 6pt;
}

/*
td p ~ pre
{
	border: solid 2pt;
	border-color: #dcdcdc;
	border-radius: 5pt;
	padding: 5pt;
}*/

td p
{
	text-align: left;
	line-height: 9pt;
	display: block;
	font-weight: normal;
	margin-bottom: 3pt;
	margin-top: 3pt;
}

b
{
	font-weight: bold;
}

div.Row-4-4-4
{
	mc-disabled: true;
}

div.Row-6-6
{
	mc-disabled: true;
}

div.Row-8-4
{
	mc-disabled: true;
}

frameset
{
	mc-disabled: true;
}

@media Web
{
	body
	{
		font-family: Roboto;
	}

	h1
	{
		font-weight: bold;
		font-family: Oswald;
		text-align: left;
		mc-auto-number-format: '{ }';
	}

	h2
	{
		font-family: Oswald;
		font-weight: bold;
		mc-auto-number-format: '{ }';
	}

	h3
	{
		font-family: Oswald;
		mc-auto-number-format: '{ }';
	}

	h4
	{
		font-family: Oswald;
	}

	h5
	{
		font-family: Oswald;
	}

	h6
	{
		font-family: inherit;
	}

	ul
	{
		font-family: Roboto;
	}

	ol
	{
		font-family: Roboto;
	}

	p
	{
		font-weight: normal;
		font-size: 11pt;
		font-family: Roboto;
	}

	MadCap|xref
	{
		color: #4682b4;
		mc-format: '{paratext}';
	}

	p.Important
	{
		
	}

	span.DocType
	{
		
	}

	span.DocTitle
	{
		font-family: 'Oswald SemiBold';
		font-weight: bold;
	}
}

@media print
{
	h1
	{
		mc-auto-number-format: '{chapnum}. ';
	}

	h2
	{
		mc-auto-number-format: '{chapnum}.{Cn+}.  ';
	}

	h3
	{
		mc-auto-number-format: '{chapnum}.{Cn}.{Cn+}  ';
	}

	h4
	{
		
	}

	h5
	{
		
	}

	h6
	{
		
	}

	span.DRAFT
	{
		mc-conditions: 'PrintGuides.DRAFT';
	}

	span.SDLDocTitle1st
	{
		font-family: Oswald;
	}

	span.SDLDocTitle2nd
	{
		font-family: Oswald;
	}

	span.DocType
	{
		
	}

	span.DocTitle
	{
		text-shadow: 1px;
	}

	span.UI_Element
	{
		font-weight: bold;
	}

	span.inline-comment
	{
		mc-conditions: 'PrintGuides.Not_Ready_Yet';
	}

	ul
	{
		font-family: Roboto;
	}

	ol
	{
		font-family: Roboto;
	}

	body
	{
		font-size: 11pt;
	}

	MadCap|tocProxy.TOC1
	{
		font-family: Roboto;
	}
}

span.DocType
{
	color: #ffffff;
	font-family: Oswald;
	text-transform: uppercase;
	font-size: 18pt;
	font-weight: bold;
	text-shadow: 2px 2px 8px #2769a8;
}

span.DocTitle
{
	font-size: 36pt;
	font-family: 'Oswald SemiBold';
	font-weight: bold;
	color: F0502B;
}

span.GUI_element
{
	font-weight: bold;
}

span.Emphasis
{
	font-style: italic;
}

span.UI_Element
{
	
}

