﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. ">CRR Metrics and Health Check</h1>
        <p>If  source and destination buckets are set up to allow replication, when a new object is added to the source bucket, the request for replicating that object begins processing.</p>
        <p>Metrics are gathered when entries are published to Kafka. When a Kafka entry has completed processing and an object has replicated to its destination bucket, further metrics are gathered to record its completion.</p>
        <h2 MadCap:autonum="1.1. &#160;"> Routes</h2>
        <p>The internal routes presented in the following table are required for testing the overall health of Backbeat and to measure the progress of an ongoing replication. </p>
        <p>All metric routes contain a {{location-name}} variable.</p>
        <p>The site name must match the name specified in <span class="ElementName">env_replication_endpoints</span> under the backbeat replication configurations in <span class="ProprietaryFileName">env/client_template/group_vars/all</span>.</p>
        <p>If the site is for a different cloud backend (i.e. AWS, Azure), use that backend’s defined type (aws_s3 or azure, for example).</p>
        <p>To show all metrics for all sites, set {{location-name}} to “all”.</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');margin-left: auto;margin-right: auto;" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col style="width: auto;" class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col style="width: 300px;" class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <td class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
                        <p>Type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
                        <p>Description</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">
                        <p>Example URL</p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Healthcheck</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>This basic health check returns details on the health of Kafka and its topics.</p>
                        <p>If there is no HTTP response error, the structure of the response is an array of three key:value objects, detailed in section 15.2.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">http://zenko.local/_/backbeat/api/healthcheck</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">All Metrics</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Returns a collection of all metrics listed below.</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>http://zenko.local/_/backbeat/api/metrics/crr/{{location-name}}</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Backlog</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Returns the replication backlog in number of objects and number of total MB. The MB total represents data only and does not include the size of metadata.</p>
                        <p>Replication backlog represents the objects that have been queued up to be replicated to another site, but the replication task has not yet been completed for that object.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">http://zenko.local/_/backbeat/api/metrics/crr/{{location-name}}/backlog</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Completions</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Returns the replication completions in number of objects and number of total MB transferred. The MB total represents data only and does not include the size of metadata.</p>
                        <p>Completions are only collected up to an `EXPIRY` time, which is set to a default of 15 minutes.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">http://zenko.local/_/backbeat/api/metrics/crr/{{location-name}}/completions/</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Throughput</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Returns the current throughput in number of operations per second (or number of objects replicating per second) and number of total MB completing per second.</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">http://zenko.local/_/backbeat/api/metrics/crr/{{location-name}}/throughput</td>
                </tr>
            </tbody>
        </table>
        <h2 MadCap:autonum="1.2. &#160;">Replication Status</h2>
        <p>A special status, <span class="state">PROCESSING</span>, supports cross-region replication with a  multiple-backend topology. Objects in CRR buckets transition from <span class="state">PENDING</span> to <span class="state">PROCESSING</span> to <span class="state">COMPLETED</span> or <span class="state">FAILED</span>.</p>
        <p style="page-break-after: avoid;"><b>ReplicationStatus</b>
        </p>
        <ul>
            <li><span class="state">PENDING</span>: CRR to all backends is in progress.</li>
            <li><span class="state">PROCESSING</span>: At least one backend has completed and is waiting for other backend(s) to finish.</li>
            <li><span class="state">COMPLETED</span>:&#160;All backends report a completed status.</li>
            <li><span class="state">FAILED</span>: At least one backend failed</li>
        </ul>
        <p>Each backend’s replication status is reported as user metadata.</p>
        <p>For example, if the site names configured in the replication endpoints are aws-backend-1, aws-backend-2, azure-backend-1, and azure-backend-2, user metadata on the head object may appear as:</p><pre xml:space="preserve">aws-backend-1-replication-status: COMPLETED
aws-backend-2-replication-status: PENDING
azure-backend-1-replication-status: COMPLETED
azure-backend-2-replication-status: PENDING</pre>
        <p>This user metadata is in addition to the object’s replication status, which follows the logic laid out in the bucket config file.</p>
        <h2 MadCap:autonum="1.3. &#160;">Health Check Details</h2>
        <p>Backbeat health checks return an array of three key:value objects. The keys are:</p>
        <ul>
            <li>A number (a numeric key)</li>
            <li><code>metadata</code>
            </li>
            <li><code>internalConnections</code>
            </li>
        </ul>
        <p>Each numeric key contains as its value an object containing nodeId, host, and port key objects. The numeric keys represent each ZooKeeper node and its details.</p><pre xml:space="preserve">zookeeperNode: {
    nodeId: &lt;value&gt;, 
    host: &lt;value&gt;,
    port: &lt;value&gt;
}		</pre>
        <p>One of these key:value objects is key-named “metadata.” Its value is an object containing key:value pairs where each key represents a ZooKeeper node, and each value holds details on topic name, partition number, leader number, replicas, and in-sync replicas (ISRs) per partition.</p><pre xml:space="preserve">metadata: {
    zookeeperNode: {
        topic: &lt;value&gt;,
        partition: &lt;value&gt;,
        leader: &lt;value&gt;
        replicas: &lt;value&gt;
        isr: &lt;value&gt;
    }
}</pre>
        <p style="page-break-after: avoid;">The internalConnections object key nominates an object consisting of three keys: </p>
        <ul>
            <li><code>isrHealth</code>, which carries a value of either <code>ok</code> or <code>error</code>. </li>
            <li><code>zookeeper</code>, which shows a status and status details (see <a href="https://github.com/alexguan/node-zookeeper-client#state">https://github.com/alexguan/node-zookeeper-client#state</a> for more detail). </li>
            <li><code>kafkaProducer</code>, which carries a value of either <code>ok</code> or <code>error</code>, and checks the health of all Producers for every topic.</li>
        </ul><pre xml:space="preserve">internalConnections: {
    isrHealth: &lt;ok || error&gt;,
    zookeeper: {
        status: &lt;ok || error&gt;,
        details: {
            name: &lt;value&gt;,
            code: &lt;value&gt;
        }
    },
    kafkaProducer: {
        Status: &lt;ok || error&gt;
    }
}</pre>
        <h2 MadCap:autonum="1.4. &#160;">Status Code Responses</h2>
        <table style="mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');margin-left: auto;margin-right: auto;width: 100%;" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <td class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Response</td>
                    <td class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Details</td>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>200</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>OK: success</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>403</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>AccessDenied: request IP address does not have access</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>404</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>RouteNotFound: invalid route given</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>405</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>MethodNotAllowed: the HTTP verb must be a GET</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p>500</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p>InternalError: Can be caused by one of several internal components (i.e. the api server, Kafka, Zookeeper, or one of the Producers for a topic)</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 MadCap:autonum="1.5. &#160;">Example Responses</h2>
        <table style="mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css'); width: 100%;" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: auto;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: auto;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <td class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Request Type</td>
                    <td class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Response Body</td>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Healthcheck</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1"><pre>[
  {
    "0":{
      "nodeId":0,
      "host":"server-node1",
      "port":9092
    },
    ...
    "4":{
      "nodeId":4,
      "host":"server-node5",
      "port":9092
    }
  },
  {
    "metadata": {
      "0":{
        "topic":"backbeat-replication",
        "partition":0,
        "leader":4,
        "replicas":[0,1,4],
        "isr":[1,4,0]
      },
      ...
      "4":{
        "topic":"backbeat-replication",
        "partition":4,
        "leader":3,
        "replicas":[0,3,4],
        "isr":[4,3,0]
      }
    }
  },
  {
    "internalConnections":{
      "isrHealth":"ok",
      "zookeeper":{
        "status":"ok",
        "details":{
          "name":"SYNC_CONNECTED",
          "code":3
        }
      },
    "kafkaProducer":{
      "status":"ok"
      }
    }
  }
]</pre>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Backlog</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1"><pre xml:space="preserve">"backlog":{
  "description":"Number of incomplete replication operation (count) and number of incomplete bytes transferred (size)",
  "results":{
    "count":4,
    "size":6417286
  }
}</pre>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Completions</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1"><pre xml:space="preserve">"completions":{
  "description":"Number of completed replication operations (count) and number of MB transferred (size) in the last 900 seconds",
  "results":{
    "count":31,
    "size":49325016
  }
}</pre>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Throughput</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1"><pre xml:space="preserve">"throughput":{
  "description":"Current throughput for replication operations in ops/sec (count) and bytes/sec (size)",
  "results":{
    "count":"0.00",
    "size":"0.00"
  }
}</pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>