﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. "><a name="S3"></a>Search Tool Characteristics</h1>
        <p>The S3 Search tool is a Scality-proprietary API&#160;extension to the Zenko platform. S3 Search complies with AWS&#160;S3 search syntax, with certain noteworthy differences. S3 Search is MongoDB-native, and addresses the S3 search through queries encapsulated in a SQL&#160;WHERE&#160;predicate. It uses Perl-Compatible Regular Expression (PCRE) search syntax. </p>
        <h2 MadCap:autonum="1.1. &#160;">Syntax</h2>
        <p style="page-break-after: avoid;">From the command line, a query must be structured as follows</p><pre xml:space="preserve">$ /bin/search_bucket.js -a {{access key}} -k {{secret key}} -b {{bucket name}} -q {{query {{SQL&#160;WHERE&#160;clause}} predicate}} -h {{host}} -p {{port}}</pre>
        <p>The access and secret key are the keys for access to the bucket host. The host is the host address (IPv4, IPv6 or DNS). All fields must be declared.</p>
        <h2 MadCap:autonum="1.2. &#160;">Example Search</h2>
        <p style="page-break-after: avoid;">The query syntax is shown in the following example</p><pre>$ bin/search_bucket.js -a PYMHLS58B6OD6UD6RFJS -k fPamoC8+Jybyw2QIi4dJFj/SS71NcgVWyq=b0DNA -b testbucket -q "\`last-modified\` LIKE \"2018-03-23T18:54:25.*\"" -h 10.233.45.127 -p 8001</pre>
        <h2 MadCap:autonum="1.3. &#160;">Example Results </h2>
        <p style="page-break-after: avoid;">The search example above returns the following results</p><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"&gt;
   &lt;Name&gt;testbucket&lt;/Name&gt;
   &lt;Prefix/&gt;
   &lt;Marker/&gt;
   &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
   &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
   &lt;Contents&gt;
       &lt;Key&gt;obj10&lt;/Key&gt;
       &lt;LastModified&gt;2018-03-23T18:54:25.000Z&lt;/LastModified&gt;
       &lt;ETag&gt;"54b0c58c7ce9f2a8b551351102ee0938"&lt;/ETag&gt;
       &lt;Size&gt;14&lt;/Size&gt;
       &lt;Owner&gt;
           &lt;ID&gt;12349df900b949e55d96a1e698fbacedfd6e09d98eacf8f8d5218e7cd47qwer&lt;/ID&gt;
           &lt;DisplayName&gt;CustomAccount&lt;/DisplayName&gt;
       &lt;/Owner&gt;
       &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;/Contents&gt;
    &lt;Contents&gt;
        &lt;Key&gt;obj11&lt;/Key&gt;
        &lt;LastModified&gt;2018-03-23T18:54:25.061Z&lt;/LastModified&gt;
        &lt;ETag&gt;"54b0c58c7ce9f2a8b551351102ee0938"&lt;/ETag&gt;
        &lt;Size&gt;14&lt;/Size&gt;
        &lt;Owner&gt;
            &lt;ID&gt;12349df900b949e55d96a1e698fbacedfd6e09d98eacf8f8d5218e7cd47qwer&lt;/ID&gt;
            &lt;DisplayName&gt;CustomAccount&lt;/DisplayName&gt;
        &lt;/Owner&gt;
        &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;/Contents&gt;
        [ . . .  ]
    &lt;Contents&gt;
        &lt;Key&gt;obj64&lt;/Key&gt;
        &lt;LastModified&gt;2018-03-23T18:54:25.965Z&lt;/LastModified&gt;
        &lt;ETag&gt;"54b0c58c7ce9f2a8b551351102ee0938"&lt;/ETag&gt;
        &lt;Size&gt;14&lt;/Size&gt;
        &lt;Owner&gt;
            &lt;ID&gt;12349df900b949e55d96a1e698fbacedfd6e09d98eacf8f8d5218e7cd47qwer&lt;/ID&gt;
            &lt;DisplayName&gt;CustomAccount&lt;/DisplayName&gt;
        &lt;/Owner&gt;
        &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;/Contents&gt;
&lt;/ListBucketResult&gt;</pre>
        <h2 MadCap:autonum="1.4. &#160;">Searchable Metadata and Tags</h2>
        <p>Because Zenko supports two classes of custom tags, it is not possible to list all the ways to search data in Zenko. At a mimimum, however, files will have the following fields inscribed, and these will be searchable:</p>
        <ul>
            <li>cache-control</li>
            <li>content-disposition</li>
            <li>content-encoding</li>
            <li>dataStoreName</li>
            <li>expires</li>
            <li>content-length</li>
            <li>content-type</li>
            <li>content-md5</li>
            <li>isDeleteMarker</li>
            <li>isNull</li>
            <li>location</li>
            <li>nullVersionId</li>
            <li>owner-display-name</li>
            <li>owner-id</li>
            <li>replication-status</li>
            <li>versionId</li>
        </ul>
        <p>Default Amazon S3 metatags:</p>
        <ul>
            <li>x-amz-version-id</li>
            <li>x-amz-server-version-id</li>
            <li>x-amz-server-side-encryption</li>
            <li>x-amz-server-side-encryption-aws-kms-key-id</li>
            <li>x-amz-server-side-encryption-customer-algorithm</li>
            <li>x-amz-website-redirect-location</li>
        </ul>
        <h2 MadCap:autonum="1.5. &#160;">Custom  Metadata and Tags </h2>
        <p>You can also search the following tags  as you have defined them</p>
        <ul>
            <li>key</li>
            <li>tags: { }</li>
            <li>x-amz-meta</li>
        </ul>
    </body>
</html>