﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h2 class="frontmatter" MadCap:autonum="">Typographic Conventions</h2>
        <p>Text that is entered into or that displays within terminal windows is presented in <span class="Code_Terminal">monospace</span> typeface. </p>
        <p>Text that represents a graphical user interface (GUI) component—content, menus, menu commands, and so forth—is presented in <span class="GUI_element">Bold</span> type.</p>
        <p>Proprietary terms, non-conventional terms, and emphasized terms are presented initially in <span class="Emphasis">italic</span> text, and occasionally thereafter for purposes of clarity.</p>
        <p>Variable values are presented within curly braces (e.g., {{variableValue}}).</p>
    </body>
</html>